# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.c

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Dir
hpx_bfs_bak/

#CMakeFiles
*.cmake
Makefile
CMakeFiles/
bin/
CMakeCache.txt
lib/

